# Core Framework
Flask==3.1.0
gunicorn==23.0.0

# NLP & Text Processing
spacy==3.8.3
nltk==3.9.1
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl

# Word Cloud & Visualization
wordcloud
matplotlib
Pillow

# Web Scraping
requests==2.32.3
beautifulsoup4==4.12.3

# Data Processing
numpy<2.0.0

# Translation (if needed)
deep-translator==1.11.4

# All other dependencies will be automatically installed as requirements of the above packages
