<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP Tools</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
   
</head>
<body>
    <div class="header">
        NLP Tools
    </div>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
    <div class="button-container">
        <a href="/pos" class="button">POS Tagging</a>
        <a href="/wordcloud" class="button">Wordcloud</a>
        <a href="/semantic" class="button">Semantic Parse</a> 
        <a href="/ner" class="button">NER</a>
    </div>
</body>
</html>
